<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
</head>
<body>
<div>
    <a href="{% url 'home' %}">Главная</a> |
    <a href="{% url 'profile' %}">Профиль</a> |
    <a href="/admin/">Админка</a> |  <!-- Добавил админку -->
    {% if user.is_authenticated %}
        Привет, {{ user.username }}! |
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; color: blue; text-decoration: underline; cursor: pointer;">Выйти</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Вход</a> |
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</div>

    <h1>Добро пожаловать на главную страницу!</h1>
    <p>Это мой проект для экзамена</p>
</body>
</html>